@import "../../style/buttons.scss";
@import "../../style/color.scss";
@import "../../style/globals.scss";
@import "../../style/mixins.scss";

$container-padding: 0 20px !important;

.page-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .section-header {
    height: 270px;
  }
  .page-container {
    width: 70vw;
    & > .ant-col {
      max-width: 100%;
      padding: $container-padding;
    }
  }
  .page-header {
    @include pageHeader;
  }
}

#user-profile {
  #user-profile-action-list {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    margin-bottom: 60px;
    padding: 20px 30px;
    width: 100%;
    float: left;
    .ant-menu-item:hover,
    .ant-menu-item-selected,
    .ant-menu {
      color: inherit;
      background-color: transparent;
      border-right: none;
    }

    .nav-item {
      // @include tabHeaderBtn;
    }
  }
  .action-value {
    #user-profile-product-list {
    }
    #user-profile-addresses {
      .address-card-container {
        .address-card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #f5f5f5;
          padding: 20px;
          h4 {
            margin: 0;
          }
        }
        .address-card-body {
          padding: 20px;
          border: 1px solid #f5f5f5;
          box-sizing: border-box;
        }
      }
    }
    #user-profile-edit {}
  }
}
