@import "../../styles//globals.scss";
@import "../../styles/mixins.scss";

.booking-wrapper {
 
  .booking-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .filter {
          margin: 0 20px;
        }
      }
    }
    @media screen and (max-width: 580px) {
      .actions-container {
        display: flex;
        flex-direction: column;
      }
      
    }
    .ant-table-wrapper {
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      width: 100%;
      overflow-y: auto;
      .ant-spin-nested-loading {
        width: 100%;
      }
      &.half-width {
        width: 50%;
      }
      @include custom-table;
    }
  }
  .pagination-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    ul {
      width: fit-content;
    }
  }
}
