@import "../../style/buttons.scss";
@import "../../style/color.scss";
@import "../../style/globals.scss";
@import "../../style/mixins.scss";



$container-padding: 0 100px;

.page-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .page-container {
    width: 70vw;
    & > .ant-col {
      max-width: 100%;
      padding: $container-padding;
    }
    .shop-wrapper {
      .shop-header {
        padding: 50px 0 10px;
        border-bottom: 1px solid #c9c9c9;
        .shop-name {
          color: $base;
          font-size: 23px;
          letter-spacing: 5px;
          margin-top: 15px;
          font-weight: 700;
        }
        .img-wrapper {
          width: 150px;
          margin: auto;
          height: 150px;
          border-radius: 50%;
          border: 2px solid $base;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        .action-container {
          display: flex;
          padding-top: 80px;
        }
        .action-wrapper:last-child {
          .action-container {
            justify-content: flex-end;
            align-items: flex-end;
            button {
              @include filledButton;
            }
            .notification-bell {
              width: 60px;
              height: 60px;
              padding: 10px;
              margin: 0 10px ;
              &:hover {
                cursor: pointer;
                span {
                  transform-origin: top center;
                  animation: bell-shake 3s ease ;
                }
              }
              span, svg {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .rate-seller {
          .ant-rate {
            @include rateSmile;
          }
        }
      }
    }
  }
  .details-wrapper {
    border-bottom: 1px solid $light-gray-border;
    @media only screen and (max-width: 400px) {
      margin-top: 30px;

    }
    .details-container {
      .ant-tabs-nav::before {
        display: none;
        // border-bottom: 1px solid $light-gray-border;
      }
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          margin: 0;
          padding: 15px 47px;
          border: 1px solid $light-gray-border;
          background-color: white;
          &:hover {
            div {
              color: #1b1b1b;
            }
          }
          div {
          }
        }
        .ant-tabs-tab-active {
          background-color: $base !important;
          &:hover {
            div {
              color: #ffffff;
            }
          }
          div {
            color: white;
          }
        }
        .ant-tabs-ink-bar {
          display: none;
        }
      }
      .ant-tabs {
        .desc-tab-container {
          padding: 20px 0px 80px;
          @media only screen and (max-width: 400px) {
            padding: 20px 0px;
            
          }
          h2 {
            color: #2b2b2b;
            font-family: "Playfair Display",serif;
            font-weight: 400;
            display: block;
            margin: 0 0 19px;
          }
   
        }
        .info-tab-container {
          padding: 20px 0px 80px;

        }
        .reviews-tab-container {
          padding: 20px 0px 80px;
          @media only screen and (max-width: 400px) {
            padding: 20px 0px;
          }
        }
      }
      
    }
  }

  .page-header {
    @include pageHeader;
   }
   .product-list {
    .category-item {
      .category-item {
        // @include productItem;

      }

    }
   }
}

@keyframes bell-shake {
  10% {
    transform: rotate(30deg);
  }

  30% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }

  70% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}