@import "../../styles/mixins.scss";

.home-wrapper {
  .ant-row {
    padding: 0;
  }
  .home-list{
    @include glass-bg; 
    background-color: #25213b;

    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
}

.home-chart {
  // @include glass-bg; 
  background-color: #25213b;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  .ant-card-head-title {
    color: #77748d;
  }
  .ant-card-bordered, .ant-card {
    border: none;
    background: none;
  }
}

@media screen and (max-width:1200px){
  #a{order:2;}
  #b{order:1;}
  #c{order:3;}
}

