@import "../../style/buttons.scss";
@import "../../style/color.scss";
@import "../../style/globals.scss";
@import "../../style/mixins.scss";



$container-padding: 0 100px;

.page-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .page-container {
    // width: 70vw;
    & > .ant-col {
      max-width: 100%;
      padding: $container-padding;
    }
  }
  .page-header {
    @include pageHeader;
   }
}


.view-testing-container {
  
}