@import "../../style/color.scss";
// @import "../../style/fonts-mixins.scss";
@import "../../style/mixins.scss";
@import "../../style/buttons.scss";
@import "../../style/forms.scss";


$container-padding: 0 100px;

.page-wrapper {
  background-color: white;
 
  .page-container {
    max-width: 80vw;
  }
  
  .search-wrapper {
    position: relative;
    .search-input {
      @include searchInput;
    }
    .start-show {
      animation: show 1s;
    }
    .start-hide {
      animation: hide 1s;
    }
    .hide {
      display: none;
    }
    .show {
      display: flex;
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    .search-container {
      transition: all 1s ease-out;
      overflow: scroll;
      position: absolute;
      z-index: 200;
      top: 45px;
      left: 0px;
      width: 100%;
      padding: 20px 10px;
      background-color: white;
      border: 1px solid $base;
      border-radius: 10px;
      height: 1500%;
    
      .search-list {
        width: 100%;
        height: fit-content;
        .search-item {
          border-radius: 5px;
          width: 100%;
          border: 1px solid rgba(128, 128, 128, 0.315);
          padding: 15px;
          margin-bottom: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          transition: all .2s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: #8080800f;
            border-color: $base;
          }
          .img-wrapper {
            width: 80px;
            margin-right: 20px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid $base;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
          .item-body {
            max-width: 80%;
            // h4 {
            //   @include h4;
            // }
            // p {
            //   @include p;
            // }
          }
        }
      }
    }
  }
  .product-list {
    padding: 20px 0 40px;
    margin-bottom: 30px;
    // .category-item {
    //   @include productItem;
    //  .img-container {
    //    @include md {
    //       height: 260px;
    //     }
    // }
    .product-list-sort {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .select-input {
        @include selectInput;
      }
    }
   
    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-pagination-next:hover, .ant-pagination-prev:hover {
        button {
          color: $base;
        }
      }
      .ant-pagination-item:hover {
        a {
          color: $base;
        }
      }
      .ant-pagination-item-active {
        border-color: $base;
        a {
          color: $base;
        }
      }
    }
  }
  .product-list-sidebar {
    padding: 61px 30px 0 0!important;
    z-index: 1;
    .product-sidebar-wrapper {
      .product-sidebar-category {
        list-style: none;
        margin-bottom: 30px;
        .category-header {
          margin-bottom: 20px;
          font-family: Montserrat;
          font-size: 12px;
          line-height: 2em;
          font-weight: 500;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }

        &>li {
          line-height: 24px;
          font-size: 16px;
          color: #8b8b8b;
          margin-bottom: 5px;
          a {
            font-size: 16px;
            font-weight: 800;
            color: #8b8b8b;
            display: flex;
            justify-content: space-between;
            &:hover {
              color: black;
            }
          }
        }

        .range-input {
          // max-width: 130px;
          .ant-slider-track, .ant-slider-rail {
            height: 2px;
          }
          .ant-slider-handle {
            border: 2px solid black!important;
            background-color: white!important;
            border-radius: 0;
            &:hover {
              cursor: col-resize;
            }
            &:focus {
              box-shadow: none;
            }
          }
        }
        .range-view {
          span {
            color: black;
            font-weight: 900;  
            font-family: 'mrgvlovani';
            font-size: 14px;        
          }
        }
        .shop-item {
          border-bottom: 1px solid $dark-gray-border;
          padding: 15px 0;
          display: flex;
          .img-wrapper {
            border: 1px solid $dark-gray-border;
            height: 90px;
            width: 80px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-height: 100%;
              width: auto;
            }
          }
          .body {
            margin-left: 15px;
            .rate {
            }
            .name {
              margin-bottom: 10px;
              color: black;
            }
            .price {
              font-family: initial;
              font-size: 22px;
              span:last-child {
                color: red;
                // font-weight: 800;
              }
            }
          }
        }
      }
    }
  }
  .img-decorations {
    img {
      position: absolute;
      filter: blur(4px);
    }  
    img:first-child {
      top: 10%;
      left: 10%;
    }
    img:last-child {
      top: 50%;
      right: 0%;
    }
  }
}

@keyframes hide {
  from {
    height: 1500%;
    opacity: 1;
  }
  to {
    height: 1%;
    opacity: 0;
  }
}
@keyframes show {
  from {
    height: 1%;
    opacity: 0;
  }
  to {
    height: 1500%;
    opacity: 1;
  }
}