@import "../../style/color.scss";
@import "../../style/fonts.scss";
@import "../../style/mixins.scss";


$container-padding: 0 100px;

.page-wrapper {
  background-color: white;

  .page-container {
    max-width: 80vw;
    .ant-row {

      // & > .ant-col {
      //   max-width: 100%;
      //   padding: $container-padding;
      // }
    }
  }
  .page-header {
   @include pageHeader;
  }
  .product-list {
    padding: 61px 0 40px 0;
    margin-bottom: 30px;
    .category-item {
      @include productItem;

    }
    .product-list-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div:first-child {
        @include p;
      }
    }
    // .category-item {
    //   width: 100%;
    //   .img-container {
    //     width: 100%;
    //     overflow: hidden;
    //     margin-bottom: 15px;
    //     &:hover {
    //       cursor: pointer;
    //       img {
    //         transform: scale(1.2) !important;
    //       }
    //     }
    //     img {
    //       transform: scale(1);
    //       transition: all 0.3s ease-in-out;
    //       width: 100%;
    //       height: auto;
    //     }
    //   }
    //   .category-desc {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     h6 {
    //       color: #1b1b1b;
    //       font-family: Montserrat;
    //       font-size: 12px;
    //       line-height: 2em;
    //       font-weight: 500;
    //       letter-spacing: 0.1em;
    //       text-transform: uppercase;
    //     }
    //     div {
    //       transition: all .5s ease-in-out;
    //       transform: translateX(26px);
    //       span:first-child {
    //         opacity: 1;
    //       }
    //       span:last-child {
    //         transition: all .2s ease-in-out;
    //         opacity: 0;
    //         &:hover {
    //           color: $base;
    //           cursor: pointer;
    //         }
    //       }
    //       span {
    //         transition: all .3s ease-in-out;
    //         // text-transform: lowercase;
    //         font-size: 12px;
    //         font-weight: 400;
    //         color: #afafaf;
    //       }
    //     }
    //   }
    // }
    // .category-item:hover {
    //   .category-desc {
    //     div {
    //       transform: translateX(-15px);
    //       span:first-child {
    //         opacity: 0!important;

    //       }
    //       span:last-child {
    //         opacity: 1!important;
    //       }
    //     }
    //   }
    // }
    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-pagination-next:hover, .ant-pagination-prev:hover {
        button {
          color: $base;
        }
      }
      .ant-pagination-item:hover {
        a {
          color: $base;
        }
      }
      .ant-pagination-item-active {
        border-color: $base;
        a {
          color: $base;
        }
      }
    }
  }
  .product-list-sidebar {
    padding: 61px 30px 0 0!important;

    .product-sidebar-wrapper {
      .product-sidebar-category {
        list-style: none;
        margin-bottom: 30px;
        .category-header {
          margin-bottom: 20px;
          font-family: Montserrat;
          font-size: 12px;
          line-height: 2em;
          font-weight: 500;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .range-input {
          max-width: 130px;
          .ant-slider-handle {
            &:focus {
              box-shadow: none;
            }
          }
        }
        &>li {
          line-height: 24px;
          font-size: 12px;
            color: #8b8b8b;
          a {
            font-size: 12px;
            color: #8b8b8b;
            &:hover {
              color: $base;
            }
          }
        }
      }
    }
  }
}