@import "../../style/color.scss";
@import "../../style/fonts.scss";
@import "../../style/mixins.scss";
@import "../../style/buttons.scss";
@import "../../style/forms.scss";


$container-padding: 0 100px;

.page-wrapper {
  background-color: white;
  .add-button {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    button {
      @include filledButton;
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
  .page-container {
    max-width: 80vw;
  }
  .page-header {
   @include pageHeader;
  }
  .search-wrapper {
    position: relative;
    .search-input {
      @include searchInput;
    }
    .start-show {
      animation: show 1s;
    }
    .start-hide {
      animation: hide 1s;
    }
    .hide {
      display: none;
    }
    .show {
      display: flex;
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    .search-container {
      transition: all 1s ease-out;
      overflow: scroll;
      position: absolute;
      z-index: 200;
      top: 45px;
      left: 0px;
      width: 100%;
      padding: 20px 10px;
      background-color: white;
      border: 1px solid $base;
      border-radius: 10px;
      height: 1500%;
    
      .search-list {
        width: 100%;
        height: fit-content;
        .search-item {
          border-radius: 5px;
          width: 100%;
          border: 1px solid rgba(128, 128, 128, 0.315);
          padding: 15px;
          margin-bottom: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          transition: all .2s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: #8080800f;
            border-color: $base;
          }
          .img-wrapper {
            width: 80px;
            margin-right: 20px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid $base;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
          .item-body {
            max-width: 80%;
            h4 {
              @include h4;
            }
            p {
              @include p;
            }
          }
        }
      }
    }
  }
  .product-list {
    padding: 61px 0 40px 0;
    margin-bottom: 30px;
    // .category-item {
    //   @include productItem;
    //   .img-container {
    //     width: 136px;
    //     height: 136px;
    //     max-height: 230px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    // }
    .product-list-sort {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include selectInput;
    }
   
    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-pagination-next:hover, .ant-pagination-prev:hover {
        button {
          color: $base;
        }
      }
      .ant-pagination-item:hover {
        a {
          color: $base;
        }
      }
      .ant-pagination-item-active {
        border-color: $base;
        a {
          color: $base;
        }
      }
    }
  }
  .product-list-sidebar {
    padding: 61px 30px 0 0!important;

    .product-sidebar-wrapper {
      .product-sidebar-category {
        list-style: none;
        margin-bottom: 30px;
        .category-header {
          margin-bottom: 20px;
          font-family: Montserrat;
          font-size: 12px;
          line-height: 2em;
          font-weight: 500;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .range-input {
          max-width: 130px;
          .ant-slider-handle {
            &:focus {
              box-shadow: none;
            }
          }
        }
        &>li {
          line-height: 24px;
          font-size: 12px;
            color: #8b8b8b;
          a {
            font-size: 12px;
            color: #8b8b8b;
            &:hover {
              color: $base;
            }
          }
        }
      }
    }
  }
}

@keyframes hide {
  from {
    height: 1500%;
    opacity: 1;
  }
  to {
    height: 1%;
    opacity: 0;
  }
}
@keyframes show {
  from {
    height: 1%;
    opacity: 0;
  }
  to {
    height: 1500%;
    opacity: 1;
  }
}