@import "./color.scss";

$lg-button-height: 50px;
$md-button-height: 40px;
$sm-button-height: 30px;

@mixin filledBtn {
  background-color: $button-bg !important;
  border-color: transparent !important;
  color: white;
  &:hover {
    background-color: $base !important;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    border-color: transparent !important;
  }
  &:active {
    background-color: $base !important;
  }
  &:focus {
    background-color: $base-light !important;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

@mixin defaultOutlinedBtn {
  border-color: $base !important;
  color: $base !important;

  &:active {
    background-color: $base !important;
    color: white !important;
  }
  &:focus {
    background-color: white !important;
    color: $base !important;
  }
  &:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    border-color: $base-light !important;
    background-color: $base !important;
    color: white !important;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

@mixin outlined {
  padding: 10px 40px;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  // border-radius: 10px;
  outline: none;
  display: flex;
  border: 1px solid #d9d9d9;
  color: $base;
  transition: all 0.1s ease-in;

  &:active {
    border-color: white;
  }
  &:focus {
    // color: white;
    border-color: white;
  }
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $base;
    border-color: white;
  }
  svg {
    width: 25px;
    height: 25px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

@mixin ghostOutlinedBtn {
  border-color: $base !important;

  &:active {
    background-color: $base !important;
  }
  &:focus {
    background-color: $base-light !important;
  }
  &:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    border-color: $base-light !important;
    color: $base-light !important;
  }
}

@mixin dashedOutlinedBtn {
  border-color: $base !important;
  &:active {
    background-color: $base !important;
  }
  &:focus {
    background-color: $base-light !important;
  }
  &:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    border-color: $base-light !important;
    color: $base-light !important;
  }
}

@mixin rateSmile {
  color: $base;
  .ant-rate-star-full,
  .ant-rate-star-zero {
    & > div {
      div {
        span {
          svg {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

@mixin cancelOutlined {
  padding: 10px 40px;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  text-align: center;
  // border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  border: 1px solid #d9d9d9;
  color: rgb(87, 87, 87);
  transition: all 0.1s ease-in;
  &:active {
    border-color: white;
  }
  &:focus {
    // color: white;
    border-color: white;
  }
  &:hover {
    cursor: pointer;
    color: rgb(211, 65, 65);
    background-color: white;
    border-color: rgb(211, 65, 65);
  }
}

@mixin navigationCircleBtn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  color: gray;
  background: #fff;
  box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  &:hover {
    background-color: $base;
    color: #ffffff;
  }
  span {
    font-size: 41px;
    margin-bottom: 8px;
  }
}

.ant-btn {
  height: $md-button-height !important;
}

.ant-btn-lg {
  height: $lg-button-height !important;
}

.ant-btn-sm {
  height: $sm-button-height !important;
}
