@import "./color.scss";

@mixin filledButton {
  padding: 16px 20px;
  height:auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  color: white;
  background: $base;
  &:hover {
    background-color: $base-light;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease-out;
    border-color: transparent;
  }
}

@mixin outlined {
  padding: 16px 20px;
  height:auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  border: 1px solid #d9d9d9;
  color: rgb(87, 87, 87);
  transition: all .1s ease-in;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $base;
    border-color: white;
  }
  &:active {
    border-color: white;
  }
  &:focus {
    // color: white;
    border-color: white;
  }
}

@mixin cancelOutlined {
  padding: 16px 20px;
  height:auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  border: 1px solid #d9d9d9;
  color: rgb(87, 87, 87);
  transition: all .1s ease-in;
  &:hover {
    cursor: pointer;
    color: rgb(211, 65, 65);
    background-color: white;
    border-color: rgb(211, 65, 65);
  }
  &:active {
    border-color: white;
  }
  &:focus {
    // color: white;
    border-color: white;
  }
}

@mixin ghostOutlined {
  padding: 16px 20px;
  height:auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  border: 1px solid #d9d9d9;
  color: rgb(87, 87, 87);
  transition: all .1s ease-in;
  &:hover {
    cursor: pointer;
    color: rgb(67, 66, 66);
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  &:active {
    border-color: white;
  }
  &:focus {
    // color: white;
    border-color: white;
  }
}