$base-light: #92ba92bd;
$base: #92BA92;
$base-dark: #99A799;
$paragraph: #6d6a6a;
$text: #1b1b1b;
$header: #2b2b2b;
$gray-bg: #f7f7f7;
$base-light-bg: #eac7cc1b;
$light-gray-border: #e8e8e8af;
$dark-gray-border: #999999af;