@import "./color.scss";

@mixin searchInput {
  input {
    border-radius: 5px;
    height: 40px;
    &:hover {
      border-color: $base-dark;
    }
    &:active {
    }
    &:focus {
      box-shadow: none !important;
      border-color: $base;
    }
  }
  button {
    height: 40px;
    border: none;
    background-color: $base;
    border-color: $base-dark;
    background: $base;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
}

@mixin selectInput {
    .ant-select-focused {
        .ant-select-selector {
            border-color: $base !important;
          }
      }
  .ant-select-selector {
    box-shadow: none !important;
  }
  .ant-select-selector {
    border-radius: 5px;
  }
  &:hover {
    .ant-select-selector {
      border-color: $base;
    }
  }
  input {
    border-radius: 10px;
    // height: 40px;
    &:hover {
      border-color: $base-dark;
    }
    &:active {
    }
    &:focus {
      box-shadow: none !important;
      border-color: $base;
    }
  }
}
.ant-select-dropdown {
  border: 1px solid $base;
  padding: 10px 5px!important;
  border-radius: 10px!important;
}

.ant-select-item-option {
  margin-bottom: 5px;
  background-color: transparent!important;
}
.ant-select-item-option-active:hover {
  background-color: #eac7cc5d!important;
  opacity: .9;
  color: rgb(102, 101, 101)!important;
  border-radius: 5px;  
}
.ant-select-item-option-selected {
  background-color: $base-light!important;
  color: rgb(102, 101, 101)!important;
  border-radius: 5px;  
}
.ant-select-item-option-selected:hover {
  background-color: $base-light!important;
  color: rgb(102, 101, 101)!important;
  border-radius: 5px;  
}




