@import "./buttons.scss";
@import "./color.scss";
@import "./mixins.scss";

// a {
//   color: $base-dark;
// }

.ant-modal-content {
  border-radius: 15px !important;
  overflow: hidden;
  .ant-modal-title {
    font-size: 25px;
  }
}

.ant-rate-star-full {
  .anticon-star {
    color: #fcad02!important;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
