@import "./fonts.scss";
@import "./variables.scss";

@mixin pageHeader {
  position: relative;
  width: 100%;
  background-color: #fafaf9;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fafaf9;
    width: 500px;
    height: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #fafaf9;
    width: 500px;
    height: 100%;
  }
}

@mixin productItem {
  .category-item {
    width: 100%;
    &:hover {
      cursor: context-menu;
    }
    .img-container {
      width: 100%;
      overflow: hidden;
      margin-bottom: 15px;

      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.2) !important;
        }
      }
      img {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: auto;
      }
    }
    .category-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h6 {
        color: #1b1b1b;
        font-family: Montserrat;
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      div {
        transition: all 0.5s ease-in-out;
        transform: translateX(26px);
        span:first-child {
          opacity: 1;
        }
        span:last-child {
          transition: all 0.2s ease-in-out;
          opacity: 0;
          &:hover {
            color: $base;
            cursor: pointer;
          }
        }
        span {
          transition: all 0.3s ease-in-out;
          // text-transform: lowercase;
          font-size: 12px;
          font-weight: 400;
          color: #afafaf;
        }
      }
    }
    &:hover {
      .category-desc {
        div {
          transform: translateX(-15px);
          span:first-child {
            opacity: 0 !important;
          }
          span:last-child {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
