@import "../../../style/forms.scss";

.ant-form-item {
  flex-direction: column !important;
  .ant-form-item-label {
    text-align: start;
  }
}

.num-input {
  @include numberInput;
}
.date-input {
    @include dateInput;
  }
.text-input {
  @include textInput;
}
.select-input {
  @include selectInput;
}


.ant-select-focused, .ant-input-number-focused, .ant-input-affix-wrapper-focused, .ant-picker-focused {
  border-color: $base !important;
  box-shadow: none!important;
  .ant-select-selector {
    border-color: $base !important;
  }
}
