@import "../../style/color.scss";
@import "../../style/buttons.scss";

.navbar-wrapper {
  .logo-container {
    padding: 70px 0 0;
    &:hover {
      cursor: pointer;
    }
    .logo {
      height: 25px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .search-container {
    // width: 300px;
    .ant-form {
      display: flex;
      justify-content: center;
      align-items: center;
      & > span {
        margin-right: 15px;
        font-size: 20px;
        transform: scaleX(-1);
      }
      .ant-form-item {
        margin: 0;
        input {
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    .logo-container {
      padding: 0;
    }
  }
  .small-logo {
    &:hover {
      cursor: pointer;
    }
    .logo {
      height: 25px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: auto;
      }
    }
  } 
  .navigation-container {
    // width: 70vw;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      li {
        list-style: none;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          color: $text;
          position: relative;
          &::after {
            content: " ";
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: $text;
            transition: all 0.5s ease-out;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .cartside-search {
    display: flex;
    justify-content: center;
    align-items: center;
    .search-container {
      position: relative;
      span {
        font-size: 22px;
        margin-right: 17px;
        margin-top: 10px;
      }
      .search-form {
        position: absolute;
        z-index: 222;
        top: 75px;
        right: 0;
        width: 200px;
        // border: 1px solid $light-gray-border;
        height: 0px;
        overflow: hidden;
        transition: all .3s ease-in-out;
      }
      .active-form {
        height: 100%!important;
      }
    }
  }
  .cart-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    &:hover {
      cursor: pointer;
      .cart-container {
        height: fit-content !important;
      }
    }
    .ant-badge {
      margin-right: 10px;
      font-size: 20px;
    }
    .car-count {
    }
    .cart-container {
      height: 0px;
      position: absolute;
      z-index: 20;
      top: 115px;
      right: 0;
      width: 250px;
      background-color: rgb(255, 255, 255);
      transition: all 1s ease-in-out;
      overflow: hidden;
      &:hover {
        height: fit-content !important;
      }
      & > div {
        padding: 20px;
        .cart-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          .cart-img {
            margin-right: 15px;
            position: relative;
            display: table-cell;
            height: 100%;
            width: 50px;
            vertical-align: top;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .cart-name-price {
            div:first-child {
              font-size: 12px;
              font-weight: 700;
              letter-spacing: .05em;
              display: table-cell;
              vertical-align: top;
              color: #2b2b2b;
              line-height: 20px;
            }
            div:last-child {
              display: inline-block;
              margin: 3px 0 0;
              font-size: 12px;
              letter-spacing: .05em;
              color: #afafaf;
            }
          }
          .close-icon {
            font-size: 10px;
            color: $base;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              border-radius: 50%;
              padding: 5px;
              &:hover {
                  background-color: rgba(128, 128, 128, 0.072);
              }

            }
          }
        }
        .cart-footer {
          // display: none;
          position: relative;
          width: 100%;
          margin: 0 0 13px;
          .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            span:first-child {
              vertical-align: top;
              color: #2b2b2b;
              line-height: 20px;
              font-size: 12px;
              font-weight: 700;
              letter-spacing: .05em;
            }
            span:last-child {
              text-align: right;
              font-size: 12px;
              font-weight: 500;
              color: #2b2b2b;
              line-height: 20px;
            }
          }
          .cart-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            div {
              @include filledButton;
              padding: 0 18px;
              height: 40px;
              font-size: 9px;
              font-weight: 500;
            }
            div:first-child {
              background-color: $base!important;
            }
            div:last-child {
            }
          }
        }

      }
    }
  }
}