@mixin circle-btn {
  border: none;
  margin: 5px;
  padding: 11px !important;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.2rem;
  position: relative;
  line-height: 1;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
  justify-content: center;
  color: #495584 !important;
  box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
  &:hover {
    margin: 5px;
    padding: 11px;
    text-align: center;
    height: 2.5rem;
    font-size: 1.2rem;
    position: relative;
    background: rgba(100, 90, 207, 0.1) !important;
    border-radius: 50%;
  }
}
