$header-color: white;
$base-color: var(--app-primaryColor);

$primary:rgb(135, 129, 129);
$secondary:rgb(119, 107, 249);
$total: rgb(23, 162, 184);
$success: #09ad95;
$rejected:rgb(255, 193, 7);
$forbidden:rgb(220, 53, 69);
$error: #dc3545;

$active-btn-bg: #fe754d;

$paragraph: #ffffff;

$primary-gradient: linear-gradient(to bottom right, #6259ca 0%, rgba(102, 93, 207, 0.6) 100%); 