@import "../../style/color.scss";
@import "../../style/fonts.scss";
@import "../../style/mixins.scss";
@import "../../style/buttons.scss";

$container-padding: 0 100px;

.product-page-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  .submit-section {
    &.ant-btn {
      height: inherit;
      &:active {
        color: inherit!important;
        border-color: $base!important;
      }
      &:focus {
        color: inherit!important;
        border-color: $base!important;
      }
    }
    position: fixed;
    z-index: 200;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: 30px;
    border-radius: 50%;
    background-color: $base!important;
    &:hover {
      border: 1px solid $base!important;
      cursor: pointer;
      opacity: 0.9;
    }
    span {
      color: white;
      font-size: 25px;
    }
  }
  .page-container {
    max-width: 70vw;
    @media only screen and (max-width: 400px) {
      max-width: 90vw;
    }
    & > .ant-col {
      max-width: 100%;
      padding: 0 !important;
    }
  }
  .page-header {
    @include pageHeader;
  }
  .product-imgs {
    margin-top: 100px;
    @media only screen and (max-width: 400px) {
      margin-top: 10px;
    }
    .carousel-root {
      // display: flex;
      // flex-direction: row-reverse;
      // justify-content: center;
      .carousel-slider {
        overflow: inherit;
        .axis-horizontal {
          max-width: 450px;
          .slider {
            .slide {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .control-arrow {
          height: 50px;
          width: 50px;
          border: 1px solid #cfcfcf00;
          border-radius: 50%;
          top: 50%;
          &:hover {
            border: 1px solid gray;
            background-color: transparent;
          }
        }
        .control-prev {
          left: -3%;
          &::before {
            margin: 0 5px 3px;
            border-right: 8px solid $base-dark;
          }
        }
        .control-next {
          right: -3%;
          &::before {
            margin: 0 5px 3px;
            border-left: 8px solid $base-dark;
          }
        }
      }
      .carousel:last-child {
        margin: auto;
        .axis-vertical {
          .thumbs {
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 0 !important;
            .thumb {
              width: 70px !important;
              border: none;
              border-radius: 10px;
              &:hover {
                cursor: pointer;
              }
            }
            .selected {
              border: 1px solid $base;
            }
          }
        }
      }
    }
  }
  .product-details {
    margin-top: 100px;
    padding-left: 15px;
    @media only screen and (max-width: 400px) {
      padding-left: 0px;
      margin-top: 10px;
    }
    h1 {
      margin-bottom: 0;
      line-height: 50px;
    }
    .price {
      display: block;
      margin: 4px 0 0;
      line-height: 1;
      color: #afafaf;
      color: #afafaf;
      font-family: Montserrat, sans-serif;
    }
    .product-description {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      margin: 23px 0 32px;
      min-height: 150px;
      @media only screen and (max-width: 400px) {
        min-height: 50px;
      }
    }
    .price {
    }
    .add-product-cart {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      
      .ant-input-number {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 15px;
        margin-top: 15px;
      }
      .ant-input-number,
      .ant-input-number-focused {
        border-right: 1px solid #d9d9d9;
        width: 70px;
        box-shadow: none;
        border-color: #d9d9d9;
        @media only screen and (max-width: 400px) {
          width: 50px;
          margin-top: 0;
          border-radius: 10px;
        }
        &:focus {
          box-shadow: none;
          border-color: #d9d9d9;
        }
        .ant-input-number-handler-wrap {
          display: block;
        }
        input {
          height: 48px;
          border-right: none;
          color: #999;
        }
      }
      .up-down {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border: 1px solid #d9d9d9;
        border-left: none;
        color: #999;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @media only screen and (max-width: 400px) {
          display: none;
        }
        .up,
        .down {
          margin: 0 10px;
          color: #999;
          &:hover {
            cursor: pointer;
            color: $base;
          }
        }
      }
      .add-button {
        @include outlined;
        margin-left: 15px;
        margin-top: 15px;

      }
      @media only screen and (max-width: 400px) {
        justify-content: flex-end;
        .add-button {
          margin: 0px 0 0 10px;
        }
        .ant-input-number {
          margin-left: 0;
        }
      }
    }
  }
  .details-wrapper {
    border-bottom: 1px solid $light-gray-border;
    margin-top: 100px;
    @media only screen and (max-width: 400px) {
      margin-top: 30px;

    }
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      top: 53px;
      width: 500px;
      height: calc(100% - 52px);
      background-color: #ffffff;
      border-top: 1px solid $light-gray-border;
      border-bottom: 1px solid $light-gray-border;
    }
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 53px;
      width: 500px;
      height: calc(100% - 52px);
      background-color: #ffffff;
      border-top: 1px solid $light-gray-border;
      border-bottom: 1px solid $light-gray-border;
    }
    .details-container {
      .ant-tabs-nav::before {
        border-bottom: 1px solid $light-gray-border;
      }
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          margin: 0;
          padding: 15px 47px;
          border: 1px solid $light-gray-border;
          background-color: white;
          &:hover {
            div {
              color: #1b1b1b;
            }
          }
          div {
          }
        }
        .ant-tabs-tab-active {
          background-color: $base !important;
          &:hover {
            div {
              color: #ffffff;
            }
          }
          div {
            color: white;
          }
        }
        .ant-tabs-ink-bar {
          display: none;
        }
      }
      .ant-tabs {
        .desc-tab-container {
          padding: 20px 0px 80px;
          @media only screen and (max-width: 400px) {
            padding: 20px 0px;
            
          }
          h2 {
            color: #2b2b2b;
            font-family: "Playfair Display",serif;
            font-weight: 400;
            display: block;
            margin: 0 0 19px;
          }
   
        }
        .info-tab-container {
          padding: 20px 0px 80px;

        }
        .reviews-tab-container {
          padding: 20px 0px 80px;
          @media only screen and (max-width: 400px) {
            padding: 20px 0px;
          }
        }
      }
    }
  }
  .featured-slider {
    padding-bottom: 40px;
  }
  .related-product {
    h5 {
      margin: 50px 0 20px;
      color: #1b1b1b;
      font-family: Montserrat;
      font-size: 12px;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @media only screen and (max-width: 400px) {
        margin-top: 0;
      }
    }
    .product-item {
      width: 100%;
      .img-container {
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
          img {
            transform: scale(1.2) !important;
          }
        }
        img {
          transform: scale(1);
          transition: all 0.3s ease-in-out;
          width: auto;
          height: 100%;
        }
      }
      .product-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h6 {
          color: #1b1b1b;
          font-family: Montserrat;
          font-size: 12px;
          line-height: 2em;
          font-weight: 500;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        span {
          text-transform: lowercase;
          font-size: 12px;
          font-weight: 400;
          color: #afafaf;
        }
      }
    }
  }
}

.add-product-page {
  .product-details {
    input, textarea, .ant-input-number, .ant-input-number-focused {
      padding: 0;
      border: none;
      box-shadow: none;

      &:focus {
        border: none;
        box-shadow: none;
      }
      &:focus-visible {
        border: none;
      }
    }
    .product-name {
      input {
        font-size: 38px;
      }
    }
    .price {}
    .product-description {}
    .total-amount {}
  }
}