@import "./style/color.scss";
@import "./style/fonts.scss";

@font-face {
  font-family: "dejavu";
  src: url("./assets//fonts/BPG\ 2017\ DejaVuSans-ExtraLight.ttf");
}
@font-face {
  font-family: "mrgvlovani";
  src: url("./assets/fonts/bpg_mrgvlovani_caps_2010.ttf");
}


body {
  // background-color: var(--app-primaryBGColor);
  // color: var(--app-primaryFontColor);
}

body {
  margin: 0;
  padding: 0;
  font-family: "dejavu";
}
.app {
  overflow: hidden;
  background-image: url("./assets/img/page-background.jpg");
  display: flex;
  justify-content: center;
  .app-container {
    width: 100%;
    min-height: 100vh;
    // align-items: center;
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: $base;
  }

  ::selection {
    color: white;
    background: $base;
  }
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
h5 {
  @include h5;
}
p {
  @include p;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $base-light; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $base-light; 
}