.auth-modal {
  max-width: 510px;
  padding: 10px;
  // display: none;
    .modal-header {
      padding: 5px;
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .modal-body {
      // border: 1px solid gray;
// 

    }
    .ant-modal-body {
      padding: 20px;
    }
    .ant-modal-close {
      display: none;
    }
    .ant-modal-header,
    .ant-modal-footer {
      display: none !important;
    }
  }