@import "./style/color.scss";
    

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.app {
    overflow: hidden;
    background-image: url("./assets/img/page-background.jpg");
    display: flex;
    justify-content: center;
    .app-container {
        width: 80vw;
        min-height: 100vh;
        // align-items: center;
    }

    ::-moz-selection { /* Code for Firefox */
        color: white;
        background: $base;
      }
      
      ::selection {
        color: white;
        background: $base;
      }
}