@import "../../style/color.scss";
@import "../../style/buttons.scss";
@import "../../style/mixins.scss";
@import "../../style/variables.scss";

// .product-list-page {

.category-item {
  width: 100%;
 
  .item-container {
    max-width: 280px;
    margin: auto;
    position: relative;
    // border-radius: 20px;
    overflow: hidden;
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    // border-bottom-right-radius: 30px;
    // border-bottom-left-radius: 30px;  
    // border: 1px solid transparent;
    border-radius: 30px;
    &:hover  {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .sale-sign {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: red;
      z-index: 3;
      color: wheat;
      font-weight: 800;
      div {
        padding: 0 5px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: -40%;
          top: 0;
          border-right: 16px solid red;
          border-bottom: 10px solid transparent;
        }
        &::after {
          content: "";
          position: absolute;
          left: -40%;
          bottom: 0;
          border-right: 16px solid red;
          border-top: 10px solid transparent;
        }
      }
    }
    .img-container {
      
      &:hover {
        cursor: pointer;
        // img {
        //   transform: scale(1.2) !important;
        // }
      }
      .owl-carousel {
        position: relative;
           
        display: flex;
        flex-direction: column-reverse;
        &:hover {
          button {
            opacity: 1 !important;
          }
          .owl-dots {
            opacity: 1 !important;
          }
        }
        .owl-stage {
          padding: 5px 0;
        }
        .owl-nav {
          position: absolute;
          top: 50%;
          left: -42%;
          transform: translateX(50%);
          height: 0px;
          width: 100%;
          margin-left: -22px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            opacity: 0;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s ease-in-out;
            color: gray;
            background: #fff;
            box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.09);
            border-radius: 50%;
            &:hover {
              background-color: $base;
              color: #ffffff;
            }
            span {
              font-size: 41px;
              margin-bottom: 8px;
            }
          }
        }
        .owl-dots {
          opacity: 0;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          bottom: 20px;
        }
      }
      .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        @include md {
          height: 200px;
        }

        img {
          transform: scale(1);
          transition: all 0.3s ease-in-out;
          width: auto;
          height: 100%;
        }
      }
    }
    .category-desc {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      // border-bottom-right-radius: 30px;
      // border-bottom-left-radius: 30px;  
      // border: 1px solid transparent;
      // border-top: none;
      &:hover {
        cursor: pointer;
      }
      h5 {
        color: #313232;
      }
      .price-cart {
        margin-bottom: 20px;
        transition: all 0.5s ease-in-out;
        // transform: translateX(60px);
        .price {
          color: #224229;
        }
      }
    }
  }
}
// .section-header {
//   height: 325px!important;
// }
// }
